@{
  Layout = "_Layout";
}
<div class="container">
  <br>
  <h1>Favorite Traveling Photos</h1>
  <ul>
    <li><img src='~/img/pikePlaceMarket.jpg'/></li>
    <li><img src='~/img/redCar.jpg'/></li>
    <li><img src='~/img/computer.jpg'/></li>
  </ul>
</div>