@{
  Layout = "_Layout";
}
<div class="container">
  <br>
  <h1>Welcome to the To Do List!</h1>
  <h5>@Html.ActionLink("See all categories", "Index", "Categories")</h5>
  <h5>@Html.ActionLink("See all items", "Index", "Items")</h5>
  <p>@Html.ActionLink("Create an account", "Index", "Account")</p>
</div>
