@model ToDoList.Models.Item

@{
  Layout = "_Layout";
}
<div class="container">
  <br>
  <h4>Add a new task</h4>
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
    <input type="submit" value="Add new task" />
  }
  <h5>@Html.ActionLink("Show all items", "Index")</h5>
</div>